

<h3> My Cars </h3>

<ul>
    <% @cars.each do |m| %>
        <li>
            <a href="/cars/<%= m.id %>">
                <%= m.make %>
            </a>
        </li>
    <% end %>
</ul>


<h2> Create Car </h2>

<form action="/cars" method="POST">
    <input type="text" name="car[make]" placeholder="make"><br>
    <input type="text" name="car[model]" placeholder="model"><br>
    <input type="text" name="car[year]" placeholder="year"><br>
    <textarea name="car[desc]" placeholder="desc"></textarea><br>
    <input type="submit" value="Create Car">
</form>

