<h1> Welcome to Cars and Coffee </h1>

<h4> What is Cars and Coffee? </h4>
<p>
    Cars and Coffee is a place where you can make a list of your favorite cars and describe them in a way that you can express yourself about that vehicle.
</p>


<h4>  Why we love cars <3 ? </h4>
<p>
    Cars have been around forever and people love modifying them so they can make it their own. Cars can be an escape to people and also a private space.
</p>


<h4> Add your favorite cars here </h4>
<p>
    You can add your favorite cars here anything from sedans to rat rods to trucks and even your first car, in the description you can write your favorite things about it and what you hate.
</p>